body {
    background-image: url("https://images.unsplash.com/photo-1503190599-57599636b0a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc0284239075b102e78ecdda14f8656e&auto=format&fit=crop&w=1101&q=80");
}
#contact {
    color:#F0803C;
    font-size:40px;
    text-shadow: 3px 3px #6D466B;
}
.a {
    display:none;
}
.test:hover ~ .a {
    display:block;
    font-size:20px;
    color:#FFFF82;
}